// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

//Variable Overrides
$theme-colors: (
    "primary": #d95700
);

 $body-bg:  #ededed;
    .jumbotron {
        background-color: #ffffff !important;
        border-top: 3px solid rgb(219, 219, 219);
    }
    );





// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here
